<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXFinance.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B53BA3DC8A1C308D93F29E62847FE2F32DEB10F3</string>
				<key>dateExpires</key>
				<string>5/8/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B53BA3DC8A1C308D93F29E62847FE2F32DEB10F3</string>
						<key>dateExpires</key>
						<string>5/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6S8CSHGBWG</string>
						<key>name</key>
						<string>Remy Lyle</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B53BA3DC8A1C308D93F29E62847FE2F32DEB10F3</string>
						<key>dateExpires</key>
						<string>5/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PingID_SDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6S8CSHGBWG</string>
						<key>name</key>
						<string>Remy Lyle</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6S8CSHGBWG.com.pingidentity.sa.demos.bxfinance</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6S8CSHGBWG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BXFinance.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>22854f5d-974f-4cff-9d9a-6ebe86b3aa4f</string>
				<key>name</key>
				<string>BXFinance-Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6S8CSHGBWG</string>
				<key>name</key>
				<string>Remy Lyle</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
