version: "3"

services:
  pingfederate:
    image: pingidentity/pingfederate:edge
    command: wait-for pingdirectory:389 -t 300 -- entrypoint.sh start-server
    env_file:
      - ~/.pingidentity/devops
      - ./env_vars
    environment:
    - SERVER_PROFILE_URL=https://rlylepingidentity:ff63c171b7cca1d86e854d0dba74447ebc5dfe1b@github.com/Technical-Enablement-PingIdentity/BXFinance.git
    - SERVER_PROFILE_PATH=pingfederate
    ports:
      - 9031:9031
      - 9999:9999

  pingdirectory:
    image: pingidentity/pingdirectory:edge
    env_file:
      - ~/.pingidentity/devops
      - ./env_vars
    environment:
      - SERVER_PROFILE_URL=https://rlylepingidentity:ff63c171b7cca1d86e854d0dba74447ebc5dfe1b@github.com/Technical-Enablement-PingIdentity/BXFinance.git
      - SERVER_PROFILE_PATH=pingdirectory
    ports:
      - 389:389
      - 1636:636
      - 1443:443
      - 2443:2443
  
  pingdataconsole:
    image: pingidentity/pingdataconsole:latest
    ports:
      - 8080:8080
      - 8443:8443
  
  pingaccess:
    image: pingidentity/pingaccess:latest
    env_file:
     - ~/.pingidentity/devops
     - ./env_vars
    environment:
     - SERVER_PROFILE_URL=https://rlylepingidentity:ff63c171b7cca1d86e854d0dba74447ebc5dfe1b@github.com/Technical-Enablement-PingIdentity/BXFinance.git
     - SERVER_PROFILE_PATH=pingaccess
    ports:
     - 80:8080
     - 443:3000
     - 9000:9000

  pingdelegator:
    image: pricecs/pingdelegator:4.0
    env_file:
     - ./env_vars
    ports:
     - 8088:80
   
  smtp:
    image: bytemark/smtp
    restart: always

  pingdatapap:
    image: pingidentity/pingdatagovernancepap:edge
    env_file:
      - ~/.pingidentity/devops
    environment:
      - SERVER_PROFILE_URL=https://rlylepingidentity:ff63c171b7cca1d86e854d0dba74447ebc5dfe1b@github.com/Technical-Enablement-PingIdentity/BXFinance.git
      - SERVER_PROFILE_PATH=pingdatagovernancepap
      - PING_IDENTITY_ACCEPT_EULA=YES
      - REST_API_HOSTNAME=pingdatapap
      - HTTPS_PORT=9443
      - DECISION_POINT_SHARED_SECRET=2Federate
    ports:
      - 9443:9443

  pingdatagovernance:
    image: pingidentity/pingdatagovernance:edge
    env_file:
      - ~/.pingidentity/devops
    command: wait-for pingfederate:9031 -t 300 -- entrypoint.sh start-server
    environment:
      - SERVER_PROFILE_URL=https://rlylepingidentity:ff63c171b7cca1d86e854d0dba74447ebc5dfe1b@github.com/Technical-Enablement-PingIdentity/BXFinance.git
      - SERVER_PROFILE_PATH=pingdatagovernance
      - PING_IDENTITY_ACCEPT_EULA=YES
    env_file:
      - ~/.pingidentity/devops
    ports:
      - 3443:443

  

  