version: "3"

services:
  pingfederate:
    image: pingidentity/pingfederate:10.0.3-edge
    command: wait-for pingdirectory:389 -t 520 -- entrypoint.sh start-server
    env_file:
      - ~/.pingidentity/devops
      - ./env_vars
    environment:
    - SERVER_PROFILE_URL=https://github.com/Morganls23/BXFinance.git
    - SERVER_PROFILE_PATH=pingfederate
    volumes:
      - ./pingfederate-out:/opt/out
      - ./pingfederate:/opt/in
    restart: always
    ports:
      - 9031:9031
      - 9999:9999

  pingdirectory:
    image: pingidentity/pingdirectory:edge
    env_file:
      - ~/.pingidentity/devops
      - ./env_vars
    environment:
      - SERVER_PROFILE_URL=https://github.com/Morganls23/BXFinance.git
      - SERVER_PROFILE_PATH=pingdirectory
    volumes:
      - ./pingdirectory-out:/opt/out
      - ./pingdirectory:/opt/in
    restart: always
    ports:
      - 389:389
      - 1636:636
      - 1443:443
      - 2443:2443

  pingdataconsole:
    image: pingidentity/pingdataconsole:latest
    ports:
      - 8080:8080
      - 8443:8443

  pingaccess:
    image: pingidentity/pingaccess:edge
    command: wait-for pingfederate:9999 -t 900 -- entrypoint.sh start-server
    env_file:
     - ~/.pingidentity/devops
     - ./env_vars
    environment:
     - SERVER_PROFILE_URL=https://github.com/Morganls23/BXFinance.git
     - SERVER_PROFILE_PATH=pingaccess
    volumes:
      - ./pingaccess-out:/opt/out
      - ./pingaccess:/opt/in
    restart: always
    ports:
     - 80:8080
     - 443:3000
     - 9000:9000

  pingdelegator:
    image: pingidentity/pingdelegator:edge
    environment:
      - VERBOSE=true
    volumes:
      - ./pingdelegator-out:/opt/out
      - ./pingdelegator:/opt/in
    env_file:
     - ./env_vars
    restart: always
    ports:
     - 6080:6080

  pingdatapap:
    image: pingidentity/pingdatagovernancepap:edge
    env_file:
      - ~/.pingidentity/devops
      - ./env_vars
    environment:
      - SERVER_PROFILE_URL=https://github.com/Morganls23/BXFinance.git
      - SERVER_PROFILE_PATH=pingdatagovernancepap
      - PING_IDENTITY_ACCEPT_EULA=YES
      - REST_API_HOSTNAME=pingdatapap
      - HTTPS_PORT=9443
      - DECISION_POINT_SHARED_SECRET=2Federate
    volumes:
      - ./pingdatapap-out:/opt/out
      - ./pingdatapap:/opt/in
    restart: always
    ports:
      - 9443:9443

  pingdatagovernance:
    image: pingidentity/pingdatagovernance:edge
    env_file:
      - ~/.pingidentity/devops
    command: wait-for pingfederate:9031 -t 720 -- entrypoint.sh start-server
    environment:
      - SERVER_PROFILE_URL=https://github.com/Morganls23/BXFinance.git
      - SERVER_PROFILE_PATH=pingdatagovernance
      - PING_IDENTITY_ACCEPT_EULA=YES
    volumes:
      - ./pingdatagovernance-out:/opt/out
      - ./pingdatagovernance:/opt/in
    env_file:
      - ~/.pingidentity/devops
    restart: always
    ports:
      - 3443:443
