<!doctype html>
#set( $messageKeyPrefix = "local.identity.registration." )

<html lang="$locale.getLanguage()" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="$CurrentPingFedBaseURL"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/register.css">

    <title>$templateMessages.getMessage($messageKeyPrefix, "title")</title>
  </head>
  <body>
    <div class="card card-register">
      <div class="card-header">
        <a href="/" class="btn btn-link btn-back">Back</a>
        <img src="assets/images/logo.svg" class="logo" />
      </div>

      #if($messages)
        <div data-id="messages" class="page-messages full">
            #foreach ($message in $messages.getBannerMessages())
            <div class="message show $message.getCssString()">
                $templateMessages.getMessage($message.getMessageKey(), $message.getParams())<a class="close"></a>
            </div>
            #end
        </div>
        #end

        <div class="ping-messages">
          #if($messages)
              #foreach ($errorMessage in $messages.getStandardMessages())
                  <div class="ping-error">
                      $templateMessages.getMessage($errorMessage.getMessageKey(), $errorMessage.getParams())
                  </div>
              #end
          #end
      </div>
      <div class="ping-messages">
          <div class="ping-error" style="display:none" id="required-field-error">
              <span class="icon-alert"></span>
              $templateMessages.getMessage($messageKeyPrefix, "required.fields.missing")
          </div>
      </div>

      <div class="card-body">
        <form method="POST" action="$url" autocomplete="off">
          <h4>Let's Create Your Online Account</h4>
          <div class="form-group">
            <label for="account_type" class="text-dark">Which type of account would you like to access online?</label>
            <div>
              <div class="form-check-inline custom-radio custom-control"><input type="radio" id="account_type" name="account_type" class="custom-control-input" /><label class="custom-control-label text-dark" for="account_type">Personal</label></div>
              <div class="form-check-inline custom-radio custom-control"><input type="radio" id="account_type_2" name="account_type" class="custom-control-input" /><label class="custom-control-label text-dark" for="account_type_2">Business</label></div>
              <div class="form-check-inline custom-radio custom-control"><input type="radio" id="account_type_3" name="account_type" class="custom-control-input" /><label class="custom-control-label text-dark" for="account_type_3">Corporate</label></div>
            </div>
          </div>
          <div class="form-row-light form-row">
            <div class="col-md-6">
              <div class="form-group"><label for="account_number" class="">Account Number</label><input name="bxFinanceUserAccountNumber" id="bxFinanceUserAccountNumber" placeholder="Account Number" type="text" class="form-control" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="username" class="">Username</label><input name="username" id="username" placeholder="Username" type="text" class="form-control" /></div>
            </div>
          </div>
          <div class="form-row-light form-row">
            <div class="col-md-6">
              <div class="form-group"><label for="firstname" class="">First Name</label><input name="firstName" id="firstName" placeholder="First Name" type="text" class="form-control" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="lastname" class="">Last Name</label><input name="lastName" id="lastName" placeholder="Last Name" type="text" class="form-control" /></div>
            </div>
          </div>
          <div class="form-row-light form-row">
            <div class="col-md-6">
              <div class="form-group"><label class="">Preferred Name</label><input name="fullName" id="fullName" placeholder="Preferred Name" type="text" class="form-control" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"></div>
            </div>
          </div>
          <div class="form-row-light form-row">
            <div class="col-md-6">
              <div class="form-group"><label for="email" class="">Email Address</label><input name="email" id="email" placeholder="Email" type="email" class="form-control" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="phone" class="">Phone Number</label><input name="phoneNumber" id="phoneNumber" placeholder="(555) 555-5555" type="tel" class="form-control" /></div>
            </div>
          </div>
          
          <div class="form-row-light form-row">
            <div class="col-md-6">
              <div class="form-group"><label for="password" class="">Password</label><input name="password" id="password" placeholder="Enter Password" type="password" class="form-control" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="password_confirm" class="">Confirm Password</label><input name="password_confirm" id="password_confirm" placeholder="Confirm Password" type="password" class="form-control" /></div>
            </div>
          </div>
          
          <div class="form-row-login form-row">
            <div class="col-md-6">
              <div class="form-group mb-0">
                <label for="login" class="text-dark">
                  How would you like to sign in? <br>
                  <img src="assets/images/icon-info.svg" class="icon-info" />
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-0">
                <select name="login" id="login" class="form-control">
                  <option>Choose your Method</option>
                  <option value="mobile">With my Mobile Device or One-Time Password</option>
                  <option value="password">With my Password</option>
                </select>
              </div>
            </div>
          </div>




          <div class="ping-buttons" style="margin:0 auto; font-family:Rubik;">
            <input type="hidden" name="$ok" value=""/>
            <input type="hidden" name="$cancel" value=""/>
            <input type="hidden" name="$signOn" value=""/>
            <input type="hidden" id="field" name="field">

            <div class="form-row-light form-row">

                <a onclick="postOk();" class="ping-button normal allow" style="text-align:center; background-color:#67c5b1; font-family:Rubik;" title="$templateMessages.getMessage($messageKeyPrefix, "signUpButtonTitle")">
                    $templateMessages.getMessage($messageKeyPrefix, "signUpButtonTitle")
                </a>
                
                &nbsp;&nbsp;&nbsp;

                <a href="javascript:void(0)" onclick="postCancel();" class="ping-button blue deny" style="text-align:center; font-family:Rubik;" title="$templateMessages.getMessage($messageKeyPrefix, "cancelButtonTitle")">
                $templateMessages.getMessage($messageKeyPrefix, "cancelButtonTitle")
                </a>
            </div>

        </div>

        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    <script type="text/javascript">

      function showHideRequirements() {
          var tips = document.getElementById('password-requirements');
  
  
          if (tips.className.search(/\bopen\b/) === -1) {
              tips.className += ' open';
          }
          else {
              tips.className = tips.className.replace(/\bopen\b/,'');
          }
      }
  
      function submitForm()
      {
          document.forms[0]['$ok'].value = 'clicked';
          document.forms[0].submit();
          if($captchaEnabled) {
              grecaptcha.reset();
          }
      }
  
      function postThirdPartyRegister(system) {
          var variants = ["Biometrics", "Windows Hello", "Face ID",  "Touch ID"];
        if(variants.indexOf(system) >= 0) system = "FIDO";
          document.forms[0]['$alternateThirdPartyRegister'].value = system;
          document.forms[0].submit();
      }
  
      function postCancel() {
          document.forms[0]['$cancel'].value = 'clicked';
          document.forms[0].submit();
      }
      function postSignOn() {
          document.forms[0]['$signOn'].value = 'clicked';
          document.forms[0].submit();
      }
  
      function postOk() {
          if (!requiredFieldsMissing()) {
              if ($captchaEnabled) {
                  grecaptcha.execute();
              }
              else {
                  // run browser validation
                  if(document.forms[0].checkValidity && !document.forms[0].checkValidity() && document.forms[0].reportValidity) {
                      document.forms[0].reportValidity();
                      return false;
                  }
                  submitForm();
              }
          }
      }
  
      function revealPassword() {
          var inputType = document.getElementById("password");
  
          if (document.getElementById('password').type === 'password') {
              inputType.setAttribute('type', 'text');
              document.getElementById('reveal').className = 'password-show-button icon-view-hidden';
          }
          else {
              inputType.setAttribute('type', 'password');
              document.getElementById('reveal').className = 'password-show-button icon-view';
          }
      }
  
      function requiredFieldsMissing() {
          var requiredFields = document.querySelectorAll("input.required,select.required");
          var foundMissingField = false;
  
          for (var i = 0; i < requiredFields.length; i++) {
              var field = requiredFields[i];
              if (field.type === "checkbox")
                  foundMissingField = isCheckBoxFieldMissing(field) || foundMissingField;
              else if (field.tagName === 'SELECT')
                  foundMissingField = isSelectFieldMissing(field) || foundMissingField;
              else
                  foundMissingField = isStandardFieldMissing(field) || foundMissingField;
          }
  
          if (foundMissingField) {
              var element = document.getElementById("required-field-error");
              element.style.display = "block";
              window.scroll(0, element.offsetTop);
          }
          else {
              document.getElementById("required-field-error").style.display = "none";
          }
          return foundMissingField;
      }
  
      function isCheckBoxFieldMissing(field) {
          var checkboxes = document.getElementsByName(field.name);
  
          var foundChecked = false;
          for (var i = 0; i < checkboxes.length; i++) {
              if(checkboxes[i].checked) {
                  foundChecked = true;
              }
          }
  
          if (!foundChecked) {
              // Use the name if no id is provided (for check box groups)
              var errorField = document.getElementById("required-" + checkboxes[0].name);
              errorField.classList.add("show");
          }
  
          return !foundChecked;
      }
  
      function hideCheckboxRequired(field) {
          var id = field.name;
          var requiredDisplay  = document.getElementById("required-" + id);
          requiredDisplay.classList.remove("show");
      }
  
      function isSelectFieldMissing(field) {
          if (field.tagName === 'SELECT' && field.selectedIndex === 0 && field.options[0].disabled) {
              showErrorDisplay(field);
              return true;
          }
          return false;
      }
  
      function isStandardFieldMissing(field){
          if (!field.value) {
              showErrorDisplay(field);
              return true;
          }
          return false;
      }
  
      function showErrorDisplay(field) {
          var container = document.getElementById("container-" + field.id);
          container.classList.add("error");
          container.classList.add("form-error");
          container.classList.add("required");
      }
  
      function showRequiredDisplay(field) {
          var container = document.getElementById("container-" + field.id);
          container.classList.add("required");
      }
  
      function removeRequiredDisplay(field) {
          var container = document.getElementById("container-" + field.id);
          container.classList.remove("error");
          container.classList.remove("form-error");
          container.classList.remove("required");
      }
  
      function toggleRequiredDisplay(field) {
          if (!field.value || field.value === "")
              showRequiredDisplay(field);
          else
              removeRequiredDisplay(field);
      }
  
      function postOnReturn(e) {
          var keycode;
          if (window.event) keycode = window.event.keyCode;
          else if (e) keycode = e.which;
          else return true;
  
          if (keycode == 13) {
              postOk();
              return false;
          } else {
              return true;
          }
      }
  
      function setMobile(mobile, agent) {
          var className = ' mobile',
              agentClass = agent,
              hasClass = (bodyTag.className.indexOf(className) !== -1),
              hasAgent = (bodyTag.className.indexOf(agentClass) !== -1);
  
          if (mobile && !hasClass) {
              bodyTag.className += className;
              bodyTag.className += agentClass;
          } else if (!mobile && hasClass) {
              bodyTag.className = bodyTag.className.replace(className, '');
          } else if (!mobile && hasAgent) {
              bodyTag.className = bodyTag.className.replace(agentClass, '');
          }
  
          <!-- Check if this is the PingOne Mobile App -->
          #if($HttpServletRequest.getHeader('X-Ping-Client-Version'))
              if (mobile) {
                  bodyTag.className += ' embedded';
              }
          #end
      }
  
      function getScreenWidth() {
          return (window.outerHeight) ? window.outerWidth : document.body.clientWidth;
      }
  
      function setFocus() {
          if (document.forms[0]) {
              for (i = 0; i < document.forms[0].elements.length; i++) {
                  var element = document.forms[0].elements[i];
                  if (element.type != "hidden" && element.disabled !== true && (element.value == null || element.value === "")) {
                      element.focus({});
                      return;
                  }
              }
          }
      }
  
      var bodyTag = document.getElementsByTagName('body')[0],
          width = getScreenWidth(),
          userAgent = '';
      if (navigator.userAgent.match(/android/i)) {
          userAgent = ' device-android';
      }
  
      #if($altAuthSources.size() > 0 && $isLocalRegistration)
          bodyTag.className += 'columns-layout';
      #end
  
      if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          setMobile(true, userAgent);
      } else {
          setMobile((width <= 480), userAgent);
          window.onresize = function() {
              width = getScreenWidth();
              setMobile((width <= 480), userAgent);
          }
      }
  
      const requiredElements = document.forms[0].querySelectorAll('.required-missing-display');
      for (i = 0; i < requiredElements.length; i++) {
          var requiredElement = requiredElements[i];
          requiredElement.addEventListener('keyup', function (event) {
              toggleRequiredDisplay(event.target);
          });
          requiredElement.addEventListener('change', function (event) {
              toggleRequiredDisplay(event.target);
          });
  
          // Remove required markers for fields that have been filled in.
          if (requiredElement.tagName === 'SELECT') {
              if(requiredElement.tagName === 'SELECT' && requiredElement.selectedIndex !== 0 && !requiredElement.options[0].disabled)
                  removeRequiredDisplay(requiredElement);
          } else {
              if(requiredElement.value) {
                  removeRequiredDisplay(requiredElement);
              }
          }
      }
  
      var passwordField = document.getElementById("password");
      if(passwordField){
          passwordField.addEventListener('keyup', function (event) {
              toggleRequiredDisplay(event.target);
          });
          passwordField.addEventListener('change', function (event) {
              toggleRequiredDisplay(event.target);
          })
      }
  
      const messages = document.querySelectorAll('.page-messages .message');
  
      // hide messages after 5 seconds.
      for (i = 0; i < messages.length; i++) {
          setInterval(function() {
              messages[0].style.display = 'none';
          }, 5000);
      }
  
      const closebuttons = document.querySelectorAll('.page-messages .message > a.close');
      // Attach listener to remove message when close button is clicked.
      for (i = 0; i < closebuttons.length; i++) {
          var element = closebuttons[i];
          element.addEventListener('click', function (event) {
              var messagediv = event.target.parentNode;
              messagediv.parentNode.removeChild(messagediv);
          })
      }
  
      window.addEventListener('load', function() {
          document.body.style.display = "block";
          // set first field focus
          setFocus();
      });
  
      function IsWebAuthnSupported() {
          if (!window.PublicKeyCredential) {
  
              console.log("Web Authentication API is not supported on this browser.");
              return false;
          }
  
          return true;
      }
  
       function isWebAuthnPlatformAuthenticatorAvailable() {
  
          theElement = document.getElementById("biometrics-div");
          if(theElement)
              theElement.style.display = "none";
  
          theElement = document.getElementById("windowshello-div");
          if(theElement)
               theElement.style.display = "none";
  
          theElement = document.getElementById("faceid-div");
          if(theElement)
              theElement.style.display = "none";
  
          theElement = document.getElementById("touchid-div");
          if(theElement)
              theElement.style.display = "none";
  
          // skip the WebAuthn support check on Internet Explorer as both WebAuthn and Promise are not supported on IE
          var ua = window.navigator.userAgent;
          var msie = ua.indexOf("MSIE ");
          if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
              return false;
          }
  
          var timer;
  
          var p1 = new Promise(function(resolve) {
              timer = setTimeout(function() {
                  console.log("isWebAuthnPlatformAuthenticatorAvailable - Timeout");
                  resolve(false);
              }, 300);
          });
  
          var p2 = new Promise(function(resolve) {
  
              if (IsWebAuthnSupported() && window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable) {
  
                  resolve(
                      window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().catch(function(err) {
                          console.log(err);
                          return false;
                      }));
              }
              else {
                  resolve(false);
              }
          });
  
          return Promise.race([p1, p2]).then(function (res) {
              clearTimeout(timer);
              console.log("isWebAuthnPlatformAuthenticatorAvailable - " +  res);
  
              if(res) {
                   theElement = document.getElementById("biometrics-div");
                   if(theElement)
                       theElement.style.display = "block";
  
                   theElement = document.getElementById("windowshello-div");
                   if(theElement)
                       theElement.style.display = "block";
  
                   theElement = document.getElementById("faceid-div");
                   if(theElement)
                       theElement.style.display = "block";
  
                   theElement = document.getElementById("touchid-div");
                   if(theElement)
                       theElement.style.display = "block";
              }
  
              return res;
          });
      }
  </script>
  </body>
</html>