## This Velocity template file may be used to include styling information and
## text at the top of the HTML-formatted body for all types of account status
## notifications.
##
## See the README.txt file in this directory for more information about
## customizing email message comments.

